@import url("https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&display=swap");

:root {
	--light-grey: rgb(245, 244, 246);
	--black-shade: rgb(39, 39, 39);
	--darker-grey: rgb(104, 111, 139);
	--mid-grey: rgb(161, 160, 170);
	--black-ops: "Black Ops One", cursive;
	--anton: "Anton", sans-serif;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: space-around;
	width: 100%;
	height: 100%;
	gap: 1vh;
}

#game-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 10vh;
	background-color: var(--light-grey);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-bottom: gray solid 1px;
	font-family: var(--black-ops);
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: black;
}

i:hover {
	font-size: 1.5rem;
}

i {
	font-size: 1.2rem;
}

#fleets {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.fleet {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	width: 100%;
	height: 100%;
	width: 47%;
	padding: 20px;
}

.player-heading-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 50px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	background-color: var(--black-shade);
	border-radius: 3%;
}

.fleet:nth-child(2) .player-heading-div {
	background-color: var(--darker-grey);
}

.player-name {
	color: white;
	font-family: var(--black-ops);
	font-size: 1.5rem;
}

.alphabets {
	margin-top: 15px;
	display: flex;
	width: 310px;
	justify-content: space-around;
	color: var(--mid-grey);
	font-family: var(--anton);
}

.numbers-grid-container {
	margin-right: 15px;
	display: flex;
	gap: 5px;
}

.numbers {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: var(--mid-grey);
	font-family: var(--anton);
}

.numbers *,
.alphabets * {
	font-weight: bold;
}

.grid-container {
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-image: url("../images/gifs/wave.gif");
}

.grid-container * {
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-bottom: solid 0.1px white;
	border-left: solid 0.1px white;
}

.grid-row {
	display: flex;
	width: 100%;
}

.grid-container *:hover {
	cursor: pointer;
}

.ship {
	background-color: red;
}

/* .vertical:not(.border){
	border-bottom: none;
}

.horizontal:not(.border){
	border-left: none;
} */

.hit {
	background-image: url("../images/gifs/burning.webp");
	background-size: cover;
}

.miss {
	background-image: url("../images/gifs/cloud.gif");
	background-size: cover;
}

.done {
	filter: blur(12px);
}

.done:hover {
	cursor: not-allowed;
}

.yard {
	margin-top: 1vh;
	display: flex;
	width: 80%;
	border: 1px solid var(--black-shade);
	justify-content: space-around;
	align-items: center;
}

#your-fleet .grid-container div:hover {
	cursor: default;
}

.yard-text {
	/* transform: rotate(270deg); */
	color: var(--mid-grey);
	font-family: var(--anton);
	font-size: 1.1rem;
	width: 10%;
}

.ships-container {
	padding: 5px 0;
	display: flex;
	width: 70%;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ship-container {
	border: 1px solid var(--mid-grey);
	display: flex;
	width: fit-content;
	height: fit-content;
}

.shipyard .ships-container .ship-container:hover {
	cursor: move;
	cursor: grab;
}

.ship-part {
	width: 30px;
	height: 30px;
}

.dragging {
	background-color: var(--darker-grey);
}

.placed {
	background-color: red;
}

.grid-container .ship-container {
	border: none;
	background-color: red;
}

.landing-indicator {
	background-color: lightgreen;
}

[class^="surround"] {
	background-color: yellow;
}
